*{
}
/*Estilos Generales*/
body {
	margin: 0;
	padding-top: 60px;
}
h1,h2,h3,h4, h5 {
	font-family: 'Montserrat', cursive;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

.container {
	width: 70%;
}
.p-tb-40 {
	padding-top: 40px ;
	padding-bottom: 50px;
}
/*star-line*/
div.star-line {
	margin-bottom: 5px;
}
span.fa-star {
	display: inline-block;
	font-size: 1.3em;
	margin-bottom: 0.5em;
}
hr.line {
	display: inline-block;
	width: 50px;
	border-top: 1px solid;
	border-bottom: 2px solid;
	color: inherit;
	margin:0 2px 0.3em !important;
}

/**Header**/
header, nav.navbar a, .navbar-toggle {
	color: #fff;
}

nav.navbar {
	/*background-color: #333;*/
	margin-bottom:0;
	border-radius: 0;
	text-transform: uppercase;
}
.nav > li > a {
    padding: 8px 15px;
    margin-top: 1em;
    font-size: 0.8em;
}
	/*.nav > li > a:hover {
		background-color:#000;
	}*/
	.nav > li > a.active {
		background-color: #000 !important;
	}
/*Portafolio*/
#Portafolio img {
	width: 100%;
	margin: 15px 0;
}

/*About*/
.about {
	color: #fff!important;
}
	.about .btn {
		border: 1px solid #fff;
		color: #2c3e50;
		margin-top: 2em;
	}
		.about .btn i {
			margin-right: 5px;
		}
/*Contact*/
.about>.container,
#Contact>.container {
	padding-right: 13%;
	padding-left: 13%;
}
#Contact .form-control, #Contact textarea {
	display: block;
	width: 100%;
    padding: 1.5em 5px;
	border:none;
	border-radius: 0;
	border-bottom: 1px solid rgba(172, 182, 192, .5);
}
#Contact .form-control:first-child {
	border-top: 1px solid rgba(172, 182, 192, .5);
}
input.btn {
    margin: 1em 0 0 5px;
}
/*Footer*/
footer {
	color: #fff;
	text-align: center;
}
.moreInfo h4 {
	margin-top: 1.5em;
	margin-bottom: 1em;
}
	.moreInfo a .fa {
		display: inline-block;
	    width: 40px;
	    height: 40px;
	    border: 1px solid #fff;
	    border-radius: 100%;
	    text-align: center;
	    font-size: 1.1em;
	    line-height: 2.5em;
	}
.copyright {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #233140;
	font-size: 80% ;
}
/***PAGINA ABOUT***/
section#About {
	text-align: center;
}
/***PAGINA BLOG***/
.img-article > img {
	width: 100%;
}
.img-article, .info-article {
	margin-bottom: 3em;
}